/*******************************************
FONTS
*******************************************/
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Arimo);

/*******************************************
BASE STYLING
*******************************************/
* {
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Lobster', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 1px;
}

body {
    font-family: 'Arimo', sans-serif;
    line-height: 1.2;
}

li {
    padding: 10px 0;
    list-style-type: circle;
    color: white;
    font-weight: bold;
}

#userTask {
    border-radius: 5px;
    outline: none;
}

/*******************************************
CONTAINERS
*******************************************/

#container {
  margin: 0 auto;
  width: 400px;
  background-color: red;
  padding: 10px;
  background-color: #888;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  
}

#container-two {
    background-color: #444;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}


/*******************************************
INPUT FIELD
*******************************************/



/*******************************************
BUTTONS
*******************************************/
#btn, 
#removeBtn {
    width: 89px;
    height: 20px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    
    
}

#btn {
   background-color: #5DB90C;
   border-bottom: 1px solid #397A00;
}

#removeBtn {
    background-color: #D10000;
    border-bottom: 1px solid #880000;
}
/*******************************************
STYLES USED IN SCRIPT
*******************************************/

.crossOut {
    text-decoration: line-through;
    color: red;
    font-weight: normal;
}

#warning {
    color: red;
    font-weight: bold;
    
}

