* {
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

.container {
  margin: -60px auto;
  max-width: 40%;
  height: 100vh;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 5px 5px black;
}

#userTask {
  margin: 0 565px;
  display: inline-block;
  width: 30%;
  height: 50px;
  font-size: 1.1em;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
}

#btn {
  position: relative;
  right: 552px;
  bottom: 3px;
  display: inline-block;
  height: 50px;
  width: 170px;
  border: none;
  background-color: #5AA563;
  border-bottom: 5px solid #1B6B25;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
}

#removeBtn {
  display: inline-block;
  position: relative;
  left: 1330px;
  bottom: 53px;
  height: 50px;
  width: 170px;
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  border: none;
  background-color: #D61616;
  border-bottom: 5px solid #8D0000;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

li {
  color: white;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 1.3em;
}
